@media screen and (max-width: 960px) {
  ul#menu {
    order: 0;
  }

  div#logo {
    order: 1;
  }

  div#options {
    order: 3;
  }

  svg#full-logo {
    display: none;
  }

  svg#compact-logo {
    display: block;
  }
}
